<n:invisible xmlns:n="http://nevow.com/ns/nevow/0.1" xmlns="http://www.w3.org/1999/xhtml">
	<footer>
		<div class="content">
			<ul class="logos">
				<li><img src="/static/img/logos/UTFSM.png"/></li>
				<li><img src="/static/img/logos/UdeCHILE.png"/></li>
				<li><img src="/static/img/logos/UValparaiso.jpg"/></li>
				<li><img src="/static/img/logos/logoUSACH.png"/></li>
				<li><img src="/static/img/logos/logoAlma.png"/></li>
				<li><img src="/static/img/logos/logoFondef.png"/></li>
				<li><img src="/static/img/logos/logoIVOA.png"/></li>
				<li><img src="/static/img/logos/logo_reuna.png"/></li>
			</ul>
		</div>
	</footer>
</n:invisible>